#container {
  display: grid;
  grid-template-rows: 90px 90px 90px 90px 90px 90px;
  grid-template-columns: 90px 90px 90px 90px 90px 90px 90px;
  justify-content: center;
  background-color: blue;
  grid-gap: .5em;
}

.square {
  display: grid;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  background-color: yellow;
}

.square:after {
  background-color: white;
  height: 70px;
  width: 70px;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: center;
  content: '';
  position: absolute;
  border-radius: 50%;
}

.square.red:after {
  background-color: red;
}

.square.yellow:after {
  background-color: yellow;
}
