#container {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  justify-content: center;
  background-color: blue;
  grid-gap: 10px;
}

.square {
  display: grid;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  background-color: yellow;
}

.square:after {
  background-color: white;
  height: 175px;
  width: 175px;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: center;
  content: '';
  position: absolute;
  border-radius: 50%;
}

.square.red:after {
  background-color: red;
}

.square.black:after {
  background-color: black;
}
